.top-explorer-section{
    background-image: url(/public/assets/imgs/background.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    border: 1px solid red;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.container-searchbar{
    align-content: center;
    width: 45%;
    
}
.input{
    padding-right: 1rem;
}
.form-control{
    background-color: var(--darkblue);
    border-color: var(--lightblue) ;
    padding-left: 1rem;
}
.form-control::placeholder{
    font-size: var(--ts-small);
    color: var(--lightblue) ;
    font-size: var(--ts-sec);
    box-shadow: 0px 0px 0px #21BFDC;
}
.form-control:focus{
    background-color: var(--darkblue); 
    color: var(--lightblue) ;
    font-size: var(--ts-sec);
    box-shadow: 0px 0px 0px #21BFDC;
}
.btn{
    background-color: var(--darkblue);
    border-color: var(--lightblue) ;
}
.btn:hover {
    background-color: var(--pink);
    transition: 0.7s;
}

.btn:active {
    background-color: var(--darkblue);
    transition: 0.7s;
}

.bottom-explorer-section{
    background-color:  var(--darkblue);
    border: 1px solid green;
    text-align:center;
}