.big-title {
    font-size: var(--big-title-text-size);
    color: var(--lightblue);
    font-weight: var(--bold);
    text-align: center;
}

.tertiary-text {
    font-size: var(--tertiary-text-size);
    color: var(--white);
    text-align: center;
}

.home-button-container {
    border: 1px solid red;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    margin: auto;
}

.home {
    border: 1px solid green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

/***Large (lg)***/
@media (max-width: 1199.98px) {
    
}

/***Medium (md)***/
@media (max-width: 991.98px) {
    
}

/***Small (sm)***/
@media (max-width: 767.98px) {
    .home-button-container {
        border: 1px solid yellow;
    }
}

/***Extra small (xs)***/
@media (max-width: 575.98px) {}