.home { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 50%; }
.parent-button-container { width: 80%; margin: auto; }
.home-button-container { display: flex; gap: 0.6rem; flex-wrap: wrap; width: 80%; justify-content: center; margin: auto;
}

/***Large (lg)***/
@media (max-width: 1199.98px) {
    
}

/***Medium (md)***/
@media (max-width: 991.98px) {
    .home { width: 70%; }
    
}

/***Small (sm)***/
@media (max-width: 767.98px) {
    .home-button-container { width: 100%; }
    .button-a, .button-b{ width: 100%; }
    .parent-button-container{ width: 60%; }
}

/***Extra small (xs)***/
@media (max-width: 575.98px) {}